<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zona de Registro</title>
    <link
      rel="shortcut icon"
      href="../assets/piggy-bank-solid.svg"
      type="image/x-icon"
    />
    <!-- CDN-FontAwesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Style -->
    <link rel="stylesheet" href="../view/styles/style.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <nav class="navigator-bar">
          <div class="logo-section">
            <span class="logo">
              <i class="fas fa-piggy-bank"></i>
            </span>
            <span class="logo-text"> Home Banking </span>
          </div>
          <div class="menu">
            <ul class="navigator">
              <li class="navigator-item">
                <a class="navigator-link" href="./index.html">Quienes Somos</a>
              </li>
              <li class="navigator-item">
                <a class="navigator-link" href="./register.html">Registrarse</a>
              </li>
              <li class="navigarot-item">
                <a class="navigator-link" href="./login.html">Login</a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      </head>
      <main>
        <div class="user-register-section">
          <img class="img-register-user" src="#" alt="" />
          <div class="form-section">
            <h2 class="user-register-title">Registro de Usuario</h2>
            <form class="form" action="submit" method="POST">
              <label class="form-item" for="name">Nombre:</label>
              <input class="form-item" type="text" name="name" id="name" />
              <label class="form-item" for="lastname">Apellido:</label>
              <input
                class="form-item"
                type="text"
                name="lastname"
                id="lastname"
              />
              <label class="form-item" for="id">Documento de Identidad:</label>
              <input class="form-item" type="text" name="id" id="id" />
              <label class="form-item" for="email">Email:</label>
              <input class="form-item" type="email" name="email" id="email" />
              <label class="form-item" for="user">Usuario:</label>
              <input class="form-item" type="text" name="user" id="user" />
              <label class="form-item" for="password">Contraseña:</label>
              <input
                class="form-item"
                type="password"
                name="password"
                id="password"
              />
              <label class="form-item" for="password">Repetir Contraseña:</label>
              <input
                class="form-item"
                type="password"
                name="password"
                id="password"
              />
              <p class="form-item"> Selecciona el tipo de perfil que deseas crear:
              <label class="form-item" for="userClass" value="admin">Administrador</label>
              <input
                class="form-item"
                type="radio"
                name="userClass"
                id="userClass"
              />
              <label class="form-item" for="userClass" value="client">Cliente</label>
              <input
                class="form-item"
                type="radio"
                name="userClass"
                id="userClass"
              />
            </p>
              <div class="button-section">
                <input class="save-button" type="submit" value="Crear" />
              </div>
            </form>
          </div>
        </div>
      </main>
      <footer>
        <div class="footer-section">
          <span class="copyright-text"
            >Copyright Acamica - Home Banking 2021</span
          >
          <div class="social-media-section">
            <span class="follow-us-text">Siguenos en nuestras redes.</span>
            <span class="social-media-icon">
              <i class="fab fa-facebook-square"></i>
            </span>
            <span class="social-media-icon">
              <i class="fab fa-twitter-square"></i>
            </span>
            <span class="social-media-icon">
              <i class="fab fa-instagram-square"></i>
            </span>
          </div>
        </div>
      </footer>
    </div>
    <script src="./js/register.js"></script>
  </body>
</html>