.user-register-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 4%;
}
.img-register-user {
  content: url('../assets/register-user.jpg');
  width: 600px;
  height: 400px;
}
.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 6%;
}
.user-register-title {
  margin-top: 5%;
  @include font-banking($primary-font, $first-color, 1.5em, 700);
}
.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 5%;
  width: 400px;
}
.form-item {
  margin: 5px;
  @include font-banking($primary-font, $third-color, 1rem, 500);
}

.button-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.save-button {
  margin-top: 5%;
  @include font-banking($primary-font, #fff, 1rem, 500);
  border-radius: 25px;
  background-color: $first-color;
  width: 200px;
  height: 40px;
  cursor: pointer;
  &:hover {
    background-color: tomato;
  }
}
