// google-font
// Fira Mono
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

//Color
$first-color: #ff813a;
$second-color: #002335;
$third-color: #004896;
$fourth-color: #ffd154;
$fifth-color: #ffffa2;

$primary-font: 'Fira Mono', monospace;
