<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Banking - Admin</title>
    <link
      rel="shortcut icon"
      href="../assets/piggy-bank-solid.svg"
      type="image/x-icon"
    />
    <!-- CDN-FontAwesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Style -->
    <link rel="stylesheet" href="../styles/style.css" />
  </head>
  <body>
    <div class="container">
      <head>
        <nav class="navigator-bar">
          <div class="logo-section">
            <span class="logo">
              <i class="fas fa-piggy-bank"></i>
            </span>
            <span class="logo-text"> Home Banking </span>
          </div>
          <div class="menu">
            <ul class="navigator">
              <li class="navigator-item">
                <span class="navigator-link"> Administración </span>
              </li>
              <li class="navigator-item">
                <a class="navigator-link" href="#"> Log Out </a>
              </li>
            </ul>
          </div>
        </nav>
      </head>
      <main>
        <div class="presentation-section">
          <div class="presentation-text-section">
            <h2 class="presentation-text-title">Asignación de dinero</h2>
            <p class="presentation-text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere
              nesciunt est sint ullam totam unde eos vero dolore iusto porro
              dolor iste, aspernatur, quaerat beatae deserunt nulla ut natus
              nostrum.
            </p>
            <div id="user-list">
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th># de cuenta</th>
                            <th>Saldo</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Maria</td>
                            <td>123456789</td>
                            <td>5000</td>
                            <td>
                                <button>></button>
                            </td>
                        </tr>
                        <tr>
                            <td>Luis</td>
                            <td>234567890</td>
                            <td>6000</td>
                            <td>
                                <button>></button></td>
                        </tr>
                        <tr>
                            <td>Sara</td>
                            <td>345678901</td>
                            <td>9000</td>
                            <td>
                                <button>></button></td>
                        </tr>
                    </tbody>
                </table>
                <form action="" id="send-money" class="send-money">
                    <label for="">Nombre de usuario: </label>
                    <label for="">Pedro Perez</label>
                    <label for="">Monto a enviar de usuario: </label>
                    <input type="text">
                    <button>Enviar</button>
                </form>
            </div>

            
          </div>
        </div>
      </main>
      <footer>
        <div class="footer-section">
          <span class="copyright-text"
            >Copyright Acamica - Home Banking 2021</span
          >
          <div class="social-media-section">
            <span class="follow-us-text">Siguenos en nuestras redes.</span>
            <span class="social-media-icon">
              <i class="fab fa-facebook-square"></i>
            </span>
            <span class="social-media-icon">
              <i class="fab fa-twitter-square"></i>
            </span>
            <span class="social-media-icon">
              <i class="fab fa-instagram-square"></i>
            </span>
          </div>
        </div>
      </footer>
    </div>
    <script type="module" src="../index.js"></script>
  </body>
</html>
