<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Banking</title>
    <link
      rel="shortcut icon"
      href="../assets/piggy-bank-solid.svg"
      type="image/x-icon"
    />
    <!-- CDN-FontAwesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Style -->
    <link rel="stylesheet" href="../styles/style.css" />
  </head>
  <body>
    <div class="container">
      <head>
        <nav class="navigator-bar">
          <div class="logo-section">
            <span class="logo">
              <i class="fas fa-piggy-bank"></i>
            </span>
            <span class="logo-text"> Home Banking </span>
          </div>
          <div class="menu">
            <ul class="navigator">
              <li class="navigator-item">
                <a class="navigator-link" href="#">Quienes Somos</a>
              </li>
              <li class="navigator-item">
                <a class="navigator-link" href="#">Registrarse</a>
              </li>
              <li class="navigarot-item">
                <a class="navigator-link" href="#">Login</a>
              </li>
            </ul>
          </div>
        </nav>
      </head>
      <main>
        <div class="presentation-section">
            <div class="presentation-text-section">
                <h2 class="presentation-text-title">Datos Usuario </h2>
                <h3 class="presentation-text-title">Id Usuario </h3>
                <p class="presentation-text">
                    1321654
                  </p>
                <h3 class="presentation-text-title">Nombre Usuario </h3>
                <p class="presentation-text">
                    Nombre
                </p>                
                <h3 class="presentation-text-title">Dinero total Usuario </h3>
               
                <p class="presentation-text">
                    $50000.000 USD
                </p>

                
                
              </div>
          <div class="presentation-text-section">
            <h2 class="presentation-text-title">Transferencia.</h2>
            <h3 class="presentation-text-title">Saldo a transferir</h3>
            <input type="text" placeholder="Dinero Total" name="input-money" id="input-money" class="presentation-text">
            <h3 class="presentation-text-title">Nombre de Usuario a traqnsferir</h3>
            <input type="text" placeholder="Nombre de usuario" name="input-User" id="input-User" class="presentation-text">
            <button class="presentation-text">
                Transferir
            </button>
          </div>
        </div>
      </main>
      <footer>
        <div class="footer-section">
          <span class="copyright-text"
            >Copyright Acamica - Home Banking 2021</span
          >
          <div class="social-media-section">
            <span class="follow-us-text">Siguenos en nuestras redes.</span>
            <span class="social-media-icon">
              <i class="fab fa-facebook-square"></i>
            </span>
            <span class="social-media-icon">
              <i class="fab fa-twitter-square"></i>
            </span>
            <span class="social-media-icon">
              <i class="fab fa-instagram-square"></i>
            </span>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
