<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Banking</title>
    <link
      rel="shortcut icon"
      href="../assets/piggy-bank-solid.svg"
      type="image/x-icon"
    />
    <!-- CDN-FontAwesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Style -->
    <link rel="stylesheet" href="../styles/style.css" />
  </head>
  <body>
    <div class="container">
      <head>
        <nav class="navigator-bar">
          <div class="logo-section">
            <span class="logo">
              <i class="fas fa-piggy-bank"></i>
            </span>
            <span class="logo-text"> Home Banking </span>
          </div>
          <div class="menu">
            <ul class="navigator">
              <li class="navigator-item">
                <a class="navigator-link" href="#">Quienes Somos</a>
              </li>
              <li class="navigator-item">
                <a class="navigator-link" href="#">Registrarse</a>
              </li>
              <li class="navigarot-item">
                <a class="navigator-link" href="#">Login</a>
              </li>
            </ul>
          </div>
        </nav>
      </head>
      <main>
        <div class="presentation-section">
          <img class="img-bank" src="#" alt="Banco" />
          <div class="presentation-text-section">
            <h2 class="presentation-text-title">Quienes Somos.</h2>
            <p class="presentation-text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere
              nesciunt est sint ullam totam unde eos vero dolore iusto porro
              dolor iste, aspernatur, quaerat beatae deserunt nulla ut natus
              nostrum.
            </p>
            <p class="presentation-text">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere
              nesciunt est sint ullam totam unde eos vero dolore iusto porro
              dolor iste, aspernatur, quaerat beatae deserunt nulla ut natus
              nostrum.
            </p>
          </div>
        </div>
        <div class="user-register-section">
          <img class="img-register-user" src="#" alt="" />
          <div class="form-section">
            <h2 class="user-register-title">Registro de Usuario</h2>
            <form class="form" action="submit" method="POST">
              <label class="form-item" for="name">Nombre:</label>
              <input class="form-item" type="text" name="name" id="name" />
              <label class="form-item" for="lastname">Apellido:</label>
              <input
                class="form-item"
                type="text"
                name="lastname"
                id="lastname"
              />
              <label class="form-item" for="id">Documento de Identidad:</label>
              <input class="form-item" type="text" name="id" id="id" />
              <label class="form-item" for="email">Email:</label>
              <input class="form-item" type="email" name="email" id="email" />
              <label class="form-item" for="user">Usuario:</label>
              <input class="form-item" type="text" name="user" id="user" />
              <label class="form-item" for="password">Contraseña:</label>
              <input
                class="form-item"
                type="password"
                name="password"
                id="password"
              />
              <div class="button-section">
                <input class="save-button" type="submit" value="Crear" />
              </div>
            </form>
          </div>
        </div>
      </main>
      <footer>
        <div class="footer-section">
          <span class="copyright-text"
            >Copyright Acamica - Home Banking 2021</span
          >
          <div class="social-media-section">
            <span class="follow-us-text">Siguenos en nuestras redes.</span>
            <span class="social-media-icon">
              <i class="fab fa-facebook-square"></i>
            </span>
            <span class="social-media-icon">
              <i class="fab fa-twitter-square"></i>
            </span>
            <span class="social-media-icon">
              <i class="fab fa-instagram-square"></i>
            </span>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
