<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/style.css"/>
        <!-- CDN-FontAwesome -->
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
      />
</head>
<body>
    <body>
        <div class="modal-dialog text-center contenedor">            
            <div class="col-sm-8 main-section">
                <h1 id="titulo">Welcome Home Banking</h1>
                <div class="modal-content">                    
                    <div class="col-12 contenedor-logo">
                        <img class="avatar-login" src="../assets/avatar-login.png" alt="">
                    </div>
                    <form action="" class="col-12 formulario">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Nombre de usuario">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Contraseña">
                        </div>
                        <button type="submit" class="btn btn-primary btn-ingresar"><i class="fas fa-sign-in-alt"></i> Ingresar</button>
                    </form>
                    <div class="col-12 recordar-contrasenia">
                        <a href="#">Recordar contraseña</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</body>
</html>